* {
  font-family: Helvetica, Arial, sans-serif;
}

.full_page {
  display: flex;
  flex-direction: column;
  background-color: #f6fcdf;
}

.upper_side {
  background-color: #f6fcdf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  flex-direction: column;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: #859f3d;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 10%;
  transition: transform 0.1s ease; /* Smooth movement */
}

.circle2 {
  width: 100px;
  height: 100px;
  background-color: #859f3d;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  right: 10%;
  transition: transform 0.1s ease; /* Smooth movement */
}

.triangle {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 130px solid #31511e;
  position: absolute;
  top: 60%;
  left: 43%;
  opacity: 0; /* Initial state for fade-in */
  animation: fadeInMove 1s ease-in forwards; /* Slight delay for triangle */
}

.triangle2 {
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 130px solid #31511e;
  position: absolute;
  z-index: 2;
  top: 60%; /* Adjust as needed for desired position */
  left: 49%; /* Adjust as needed for desired position */
  opacity: 0; /* Initially invisible */
  animation: fadeInMove 1s ease-in forwards; /* Adds fade-in + move effect */
}

/* Keyframes for fade-in + optional movement */
@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Optional initial offset */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Ends at original position */
  }
}

#title {
  color: #31511e;
  font-weight: 1000;
  font-size: 7rem;
  position: relative;
  bottom: 25%;
  left: 5%;
}

.lower_side {
  background-color: #f6fcdf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  flex-direction: column;
}

.video_background {
  background-color: white;
  width: 70vw;
  height: 45vw;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#cochamo {
  color: #1a1a19;
  font-weight: 500;
  font-size: 2rem;
  position: absolute;
  top: 17%;
  left: 30%;
}

.la_cochamo {
  position: absolute;
  left: 23%;
  top: 30%;
  border-radius: 40px;
}

.text_cochamo {
  color: #1a1a19;
  font-weight: 500;
  font-size: 1rem;
  position: absolute;
  left: 52%;
  top: 40%;
  width: 350px;
  white-space: normal; /* Allows text to wrap */
  overflow-wrap: break-word;
}
